.current-shopping-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.item-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
