.item-wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;  
    /* background: red; */
    font-size: 1.5rem;    
}
.item-name{
}
.item-quantity{
    color: rgb(25, 166, 119);

}