.header{
    letter-spacing: 10px;
    text-transform: uppercase   ;
    color: var(--light-purple);

}
.img_container{
    height: 300px;
    border-radius: 50%;
}
.Header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}
.HeaderImg{
    height: 100%;
    border-radius: 50%;
}