.shoping-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

}
.icons{
    color: rgb(23, 4, 4);
    font-size: x-small;
    background: rgb(226, 231, 226);
    padding: .4rem ;
    border-radius: 50%;
}
.icons:hover{
    background-color:rgb(226, 231, 200);
;
}
.icon-minus{
     background-color: red;
}
.icon-minus:hover{
    background-color: rgb(245, 159, 159);
}